In [3]:
import pandas as pd
import numpy as np
import random

In [47]:
country = ['A','B','C','D','E']
population = [random.randint(8000,20000) for _ in range(5)]
list_coun=['country', 'population']
list_popu=[country,population]
list_cp=pd.DataFrame(dict(list(zip(list_coun,list_popu))))
#list_cp
list_cp.sort_values(by='population', ascending=False)

  country  population
2       C       19791
3       D       18871
4       E       13577
0       A       10554
1       B        8959